extends /layout

block content
  div#help-page-id reports
  h1.hideondisconnect#section Reports
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      <b>Awards</b> -- Awards Reports
      blockquote(style="width: 500px").
        Various awards reports

      <b>Statistics</b> -- Statistics Reports
      blockquote(style="width: 500px").
        Various statistics reports

      <b>Labels</b> -- Labels Reports
      blockquote(style="width: 500px").
        Various label reports

