extends /layout_jq

append head
  script(src='/javascripts/pmelib/textwidth.js')
  script(src='/javascripts/pmelib/' + pmmmatchtypejs)

block content
  div#help-page-id manage-uspsa-rolist
  h1.hideondisconnect#section USPSA RO/CRO List
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#inputFields
      h3 USPSA.org
      table.config
        tr.even
          td
            span(style='margin-top: 1px;').tleft Your USPSA number
            span.tright: input(style='padding-left: 3px;')#ec-uspsanum
        tr.odd
          td
            span(style='margin-top: 1px;').tleft Your USPSA password
            span.tright: input(style='padding-left: 3px;')#ec-uspsapw
        tr.even
          td
            span(style='margin-top: 1px;').tleft Retrieve most recent RO/CRO list from website
            span(style='margin-top: 0px;').tright: button(controltype='button' button-width='65')#button-get Get
        tr
          td
        tr
          td(style='text-align: justify;').
            Your USPSA number and password are NOT stored. The USPSA.org web page that displays
            the list of ROs and CROs requires you to be logged in to the site to access that page.
            This is because the RO and CRO list displays the last name of members, and by USPSA policy,
            you must be a member of USPSA.org and logged into the site for last names to be visible.

        tr(getmsg-tr style='display: none;')
          td
        tr(getmsg-tr style='display: none;')
          td(message)#getMsg

      div.hideondisconnectex(view-tr style='display: none;')
        p
        button(controltype='button' button-width='105')#button-view.
          View

    div(style='display: none;').hideondisconnectex#viewWindow
      div.
        RO-CRO List
      div#viewGrid

  span(style='visibility: hidden; font-size: 13px; font-family: Verdana, Arial, sans-serif; font-style: normal; font-weight: normal;')#secret-span
