extends /layout

block content
  div#help-page-id file-imexport-exportssi
  h1.hideondisconnect#section Export Match To SSI Zip File
  h2.hideondisconnect#matchname= matchname

  div#content
    p Sorry, but someone should write some code to do this!
