extends /layout_jq

block content
  div#help-page-id manage
  h1.hideondisconnect#section Management Tools
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      <b>Match Progress</b> -- Match Progress
      blockquote(style="width: 500px").
        Match progress display

      <b>Sync</b> -- Sync/Poll
      blockquote(style="width: 500px").
        Sync and/or poll scoring devices
