extends /layout_jq

block content
  div#help-page-id help
  h1.hideondisconnect#section Help
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      <b>Help</b> -- Detailed help (hah!)
      p

      <b>About</b> -- Ye olde 'about' page
