extends /layout_jq

block content
  div#help-page-id help-system
  h1.hideondisconnect#section System Info
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#interfaces
