#stageMessage {
  text-align: center;
}

#buttonDiv {
  text-align: center;
}

.buttonSpacer {
  width: 10px;
  height: auto;
  display: inline-block;
}

#addButton {
}

#editButton {
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-title {
  text-align: center;
  width: 100%;
}

.ui-widget {
  font-size: 1.0em;
}

.tablesorter {
  font-size: 1.0em;
  text-align: center;
  width: auto;
  margin: 0 auto;
  white-space: nowrap;
}

.tablesorter-jui thead td {
  padding: 2px;
}

.tablesorter .tablesorter-header {
  white-space: nowrap;
  padding: 4px;
}

.tablesorter .tablesorter-filter-row {
  padding: 2px;
}

.tablesorter .tablesorter-filter {
  width: 80px;
  padding: 1px;
}

.tablesorter-force-link {
  text-decoration: underline;
}
