extends /layout

block content
  div#help-page-id file-file
  h1.hideondisconnect#section File Operations
  h2.hideondisconnect#matchname= matchname

  div#content
    div#help
      ul
        li <b>Load</b> -- Load a selected match from file
        li <b>Save</b> -- Save the current match to a file
