#content {
  width: 600px;
  margin: 0 auto;
}

h3 {
  width: 600px;
  margin: 0 auto 5px;
  border-bottom: 1px solid #666;
  padding: 0;
  text-align: left;
}

table.config {
  border-collapse: collapse;
  border: none;
  display: inline-block;
  width: 550px;
}

table.config tr, table.config td {
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  width: 560px;
}

table.config tr.even {
  background: #fdfdfd;
}

table.config tr.odd {
  background: #f3f3f3;
}

table.config td {
  height: 27px;
  width: 600px;
}

.tleft {
  margin-top: 2px;
  float: left;
}

.tright {
  float: right;
}

.textblock {
  text-align: justify;
}

#msg {
  display: none;
}

#errmsg {
  color: red;
  display: none;
}
