extends /layout_jq

block content
  div#help-page-id edit-divisions
  h1.hideondisconnect#section Add/Edit Divisions
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#divisionsGrid

  div(style='display: none;').hideondisconnectex#popupEdit
    div Window Title
    div(style='overflow: hidden;')
      table
        tr
          td.tlabel Name:
          td.tinput: input(style='padding-left: 3px;')#ec-pmmname
        tr
          td.tlabel Abbreviation:
          td.tinput: input(style='padding-left: 3px;')#ec-psname
        tr
          td.tlabel Enabled:
          td.tinput: div#ec-enabled

      p
      div(style='float: right')
        button(style='margin-left: 4px;')#ec-resetButton Reset
        button(style='margin-left: 4px;')#ec-cancelButton Cancel
        button(style='margin-left: 4px;')#ec-saveButton Save

  div(style='display: none;').hideondisconnectex#contextMenu
    ul
      li#contextEditDivision Edit This Division (#<span id='contextEditDivisionNum'>0</span>)
      li#contextAddDivision Add New Division (#<span id='contextAddDivisionNum'>0</span>)
      li#contextDeleteDivision Delete This Division (#<span id='contextDeleteDivisionNum'>0</span>)

      li Edit Mode
        ul(style='width: 60px;')
          li#contextEditModeInline Inline
          li#contextEditModePopup Popup
