extends /layout_jq

block content
  div#help-page-id manage-uspsa-activity
  h1.hideondisconnect#section USPSA.org Activity Report
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div(style='text-align: left;')#activity

  span(style='visibility: hidden; font-size: 13px; font-family: Verdana, Arial, sans-serif; font-style: normal; font-weight: normal;')#secret-span
