#content {
  overflow: hidden;
}

#devicesGrid {
  margin: 0 auto;
  text-align: center;
}

#clientMsg {
  text-align: center;
}

#clientTime {
  text-align: center;
}

.fixgrid {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 2px;
  margin-left: 4px;
  margin-top: 0px;
}

.centerheader {
  text-align: center;
  margin-top: 5px;
}

#btncontainer {
  overflow: hidden;
  position: relative;
  margin: 0px;
  padding-top: 3px;
}

div#btncontainer .btndiv {
  float: left;
  margin-left: 5px;
}

div#btncontainer .btnspan {
  margin-left: 4px;
  position: relative;
  top: 2px;
}
