extends /layout_jq

append head
  link(rel='stylesheet', href='/stylesheets/error/notimplemented.css')

block content
  div#help-page-id error-notimplemented
  h1.hideondisconnect#section PractiScore Match Editor

  div#content
    h1#bzzzt Bzzzzzt

    p
      | Unfortunately, the feature you're looking for is not yet implemented.
      | You may rest assured that the developer(s) are working fast and
      | furiously to make every option in this program work correctly.

    p
      | Sending beer may help speed development. Or possibly hinder it, you
      | never know...
