extends /layout

block content
  div#help-page-id file-imexport
  h1.hideondisconnect#section Import/Export Operations
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      ul
        li <b>Import EZWS</b> -- Import match from EzWinScore database (Windows only)
        li <b>Export EZWS</b> -- Export match to EzWinScore database (Windows only)
        li <b>Import SSI</b> -- Import match from Shoot'n-Score-It Zip File
        li <b>Export SSI</b> -- Export match to Shoot'n-Score-It Zip File
