extends /layout_jq

mixin cbItem(did, text)
  li
    div(id=`sc_sh_${did}`).cbItem
    =text

block content
  div#help-page-id edit-competitors-tp
  h1.hideondisconnect#section Add/Edit Competitors
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#competitorsGrid

  div(style='display: none;').hideondisconnectex#popupEdit
    div Window Title
    div(style='overflow: hidden;')
      table
        tr
          td.tlabel Last Name:
          td.tinput: input(style='padding-left: 3px;')#ec-sh-ln
          td.tspace
          td.tlabel First Name:
          td.tinput: input(style='padding-left: 3px;')#ec-sh-fn
          td.tspace
          td.tlabel Member #:
          td.tinput: input(style='padding-left: 3px;')#ec-sh-id
        tr
          td.tlabel Division:
          td.tinput: div#ec-sh-dvp
          td.tspace
          td.tlabel Class:
          td.tinput: div#ec-sh-grd
        tr
          td.tlabel Squad:
          td.tinput: div#ec-sh-sqd
          td.tspace
          td.tlabel Category:
          td.tinput: div#ec-sh-ctgs
        tr
          td.tlabel Staff:
          td.tinput: div#ec-sh-staff
          td.tspace
          td.tlabel Paid:
          td.tinput: div#ec-sh-paid
          td.tspace
          td.tlabel Present:
          td.tinput: div#ec-sh-here
        tr
          td.tlabel Walk-On:
          td.tinput: div#ec-sh-wlk
          td.tspace
          td.tlabel DQ:
          td.tinput: div#ec-sh-dq
          td.tspace
          td.tlabel Deleted:
          td.tinput: div#ec-sh-del
        tr
          td.tlabel Log To Email:
          td.tinput: div#ec-sh-lge
          td.tspace
          td.tlabel Log To SMS:
          td.tinput: div#ec-sh-lgp
        tr
          td.tlabel Phone:
          td.tinput: div(style='padding-left: 3px;')#ec-sh-ph
          td.tspace
          td.tlabel Email:
          td(colspan=4).tinput: input(style='padding-left: 3px;')#ec-sh-eml
        tr
          td.tlabel Address 1:
          td.tinput: input(style='padding-left: 3px;')#ec-sh-addr1
          td.tspace
          td.tlabel Address 2:
          td(colspan=4).tinput: input(style='padding-left: 3px;')#ec-sh-addr2
          td.tspace
        tr
          td.tlabel City:
          td.tinput: input(style='padding-left: 3px;')#ec-sh-city
          td.tspace
          td.tlabel State:
          td.tinput: div#ec-sh-st
          td.tspace
          td.tlabel ZIP Code:
          td.tinput: div(style='padding-left: 3px;')#ec-sh-zipcode
          td.tspace

      p
      div(style='float: right')
        button(style='margin-left: 4px;')#ec-resetButton Reset
        button(style='margin-left: 4px;')#ec-cancelButton Cancel
        button(style='margin-left: 4px;')#ec-saveButton Save

  div(style='display: none;').hideondisconnectex#popupSquads
    div Squad Distribution
    div
      div(style='float: left;')#sp-tree
      div(style='display: none;')#sp-noCompetitors
        p(style='text-align: center;') No squads with competitors!

  div(style='display: none;').hideondisconnectex#contextMenu
    ul
      li#contextEditCompetitor Edit This Competitor (#<span id='contextEditCompetitorNum'>0</span>)
      li#contextAddCompetitor Add New Competitor (#<span id='contextAddCompetitorNum'>0</span>)

      li#contextNormalizeCase Normalize Name Case
        ul(style='width: 200px;')
          li#contextNormalizeCaseThis Normalize This Competitor
          li#contextNormalizeCaseAll Normalize ALL Competitors

      li#contextDepersonalize Depersonalize
        ul(style='width: 130px;')
          li#contextDepersonalizeThis This Competitor
          li#contextDepersonalizeAll ALL Competitors

      li#contextStripBadMembershipNumber Strip Bad Membership Numbers
        ul(style='width: 130px;')
          li#contextStripBadMembershipNumberThis This Competitor
          li#contextStripBadMembershipNumberAll ALL Competitors

      li Print List (Labels)
        ul(style='width: 250px;')
          li#contextPrintListAdd Add This Competitor (<span id='contextPrintCountNum'>0</span> in queue)
          li#contextPrintListRemove Remove This Competitor
          li#contextPrintListClear Remove ALL Competitors

      // li(item-disabled='true')#contextObliterate Obliterate This Competitor

      li Switch View
        ul(style='width: 60px;')
          li#contextSwitchPaged Paged
          li#contextSwitchScroll Scroll

      li Edit Mode
        ul(style='width: 60px;')
          li#contextEditModeInline Inline
          li#contextEditModePopup Popup

      li Show/Hide Columns
        ul
          +cbItem('pos', '#')
          +cbItem('ln', 'Last Name')
          +cbItem('fn', 'First Name')
          +cbItem('id', 'Member #')
          +cbItem('dvp_fmt', 'Division')
          +cbItem('grd', 'Class')
          +cbItem('sqd', 'Squad')
          +cbItem('ctgs_fmt', 'Categories')
          +cbItem('eml', 'Email')
          +cbItem('ph', 'Phone')
          +cbItem('st', 'State')
          +cbItem('wlk_fmt', 'Walk-On')
          +cbItem('dq_fmt', 'DQ')
          +cbItem('del_fmt', 'Deleted')
          +cbItem('print_fmt', 'Print')
