extends /layout_jq

block content
  h1.hideondisconnect#section Match Editing
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      <b>Match</b> -- Match
      blockquote(style="width: 500px").
        Stuff

      <b>Competitors</b> -- Competitors
      blockquote(style="width: 500px").
        Stuff

      <b>Squads</b> -- Squads
      blockquote(style="width: 500px").
        Stuff

      <b>Stages</b> -- Stages
      blockquote(style="width: 500px").
        Stuff

      <b>Scores</b> -- Scores
      blockquote(style="width: 500px").
        Stuff

      <b>History</b> -- History
      blockquote(style="width: 500px").
        Stuff

      <b>Logs</b> -- Logs
      blockquote(style="width: 500px").
        Stuff
