extends /layout

block content
  div#help-page-id file-db
  h1.hideondisconnect#section File Operations
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      ul
        li <b>Load</b> -- Load a selected match from the database
        li <b>Save</b> -- Save the current match to the database
        li <b>Delete</b> -- Delete a selected match from the database
