extends /layout_jq

block content
  h1.hideondisconnect#section Configuration Options

  div.hideondisconnect#content
    div#help
      <b>Network</b> -- Create New Match XX
      p

      <b>Polling</b> -- Create New Match
      p

      <b>Progress</b> -- Create New Match
      p

      <b>Kiosk</b> -- Create New Match
      p

      <b>PractiScore</b> -- Create New Match
      p

      <b>PractiPrint</b> -- Create New Match
      p

      <b>Startup</b> -- Create New Match
      p
