extends /layout_jq

block content
  div#help-page-id config-startup
  h1.hideondisconnect#section Startup Configuration

  div.hideondisconnect#content
    p.textblock
      |This describes what goes here

    div#inputFields
      h3 Startup
      table.config
        tr.even
          td
            span(style='margin-top: -1px;').tleft Load last used match on program start
            span(style='margin-top: 2px;').tright: div#ex-startupLoadLastMatch

      p
      h3 Match creation
      table.config
        tr.even
          td
            span(style='margin-top: 2px;').tleft Default match type
            span.tright: div#ec-startupDefaultMatchType

      p
        button(style='margin-left: 4px;')#ec-resetButton Reset
        button(style='margin-left: 4px;')#ec-saveButton Save

    p#msg
    p#errmsg
