extends /layout_jq

append head
  script(src='/javascripts/libs/jquery.history.min.js')
  script(src='/javascripts/pmelib/common.js')
  script(src='/javascripts/pmelib/textwidth.js')
  script(src='/javascripts/pmelib/' + pmmmatchtypejs)
  script(src='/javascripts/edit/scores2/' + pmmmatchtypejs)
  script(src='/javascripts/kiosk/kiosk.js')

block content
  h1.hideondisconnect#section View/Edit Scores
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div(style='display: none;')#menuGrid
    div(style='display: none;')#scoresGrids
    div(style='display: none;')#indresDiv
      h3(style='margin-top: 0;')#indresH3
      div#indresGrid
      p
      button(previous-button='indresDiv') Back
    div(style='display: none;')#indresDropdownDiv
      p
      table
        tr
          td
            span(style='float: left; margin-top: 3px; padding-right: 5px;') Display detailed results for
            span(style='float: right;'): div#indresDropdown

  span(style='visibility: hidden; font-size: 13px; font-family: Verdana, Arial, sans-serif; font-style: normal; font-weight: normal;')#secret-span
