extends /layout

block content
  div#help-page-id utils
  h1.hideondisconnect#section Utilities
  h2.hideondisconnect#matchname= matchname

  div.hideondisconnect#content
    div#help
      <b>JSON Explorer</b> -- JSON Explorer
      blockquote(style="width: 500px").
        Stuff

      <b>JSON Checker</b> -- JSON Checker
      blockquote(style="width: 500px").
        Stuff

      <b>Memory Usage</b> -- Memory Usage
      blockquote(style="width: 500px").
        Stuff

      <b>Test Functions</b> -- Test Functions
      blockquote(style="width: 500px").
        Stuff
