extends /layout

block content
  div#help-page-id utils-namesdb
  h1.hideondisconnect#section Edit Competitor Database
  h2.hideondisconnect#matchname= matchname

  div#content
    The goggles, they do nothing!
